<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Password Recovery</h3>
      </div>
      <div class="card-body">
        <form class="form" [formGroup]="forgotPwdForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input formControlName="email" name="email" type="email" class="form-control rounded-0" required />
          </div>
          <div *ngIf="email.touched && email.errors" class="errorMessage">
            <span *ngIf="email.hasError('required')">Email is required</span>
          </div>
          <button [disabled]="forgotPwdForm.invalid" type="submit" class="btn btn-outline-dark btn-sm float-right">Submit Email</button>
        </form>
      </div>
    </div>
  </div>
</div>
