<div class="d-flex" id="wrapper">
  <div class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Admin Menu</div>
    <div class="list-group">
      <a *ngFor="let menuItem of menuItems" [routerLink]="['/admin/' + menuItem.item]"
        class="list-group-item active" [class.active]="menuItem.id === activeLink" (click)="onClickLink(menuItem.id)">
        {{menuItem.item | titlecase}}
      </a>
    </div>
  </div>
  <div id="page-content-wrapper" class="m-3">
    <router-outlet></router-outlet>
  </div>
</div>

