<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Change Password</h3>
      </div>
      <div class="card-body">
        <form class="form" [formGroup]="changePwdForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="oldPwd">Old Password</label>
            <input formControlName="oldPwd" name="oldPwd" type="password" class="form-control rounded-0" required />
          </div>
          <div *ngIf="oldPwd.touched && oldPwd.errors" class="errorMessage">
            <p *ngIf="oldPwd.hasError('required')">Current password is required</p>
          </div>
          <div class="form-group">
            <label for="newPwd">New Password</label>
            <input formControlName="newPwd" name="newPwd" type="password" class="form-control rounded-0" required />
          </div>
          <div *ngIf="newPwd.touched && newPwd.errors" class="errorMessage">
            <p *ngIf="newPwd.hasError('required')">New password is required</p>
          </div>
          <div class="form-group is-invalid">
            <label for="confirmPwd">Confirm Password</label>
            <input formControlName="confirmPwd" name="confirmPwd" type="password" class="form-control rounded-0" required />
          </div>
          <div *ngIf="confirmPwd.touched && confirmPwd.errors" class="errorMessage">
            <p *ngIf="confirmPwd.hasError('required')">Confirm password is required</p>
            <p *ngIf="confirmPwd.hasError('mustMatch')">Confirm password is not matched</p>
          </div>
          <button [disabled]="changePwdForm.invalid" type="submit" class="btn btn-outline-dark btn-sm float-right">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
